.comment-block::-webkit-scrollbar-corner {
    background: transparent;
}

.comment-block::-webkit-scrollbar-thumb {
    background: lightskyblue;
    border: solid transparent;
    border-radius: 15px;
    width: 20px;
}
.comment-block::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
.comment-block::-webkit-scrollbar {
    width: 15px;
    background: beige;
    border-radius:7px;
}
    .comment-block{
    border: solid 1.5px #d5d5d5;
    position: absolute;
    z-index: 100;
    background: rgba(255,255,255,.8);
    width: 150px;
    border: 0;
    height: 80px;
    max-height: 100px;
    padding: 0;

}
.comment-block .data{
    padding: 0 2px 0 10px;
    font-size: 16px;
}


.comment-block .replytextbox{
    width: 100%;
  padding: 12px 20px;
  margin-top: 24px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.comment-block .replysubmitbutton{
  width: 120px;
  height: 40px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: relative;
  border-radius: 50px;
  background: linear-gradient(90deg, #EC37D0, #D92B2B, #FFAA0D, #EC37D0);
  background-size: 400%;
  color: #fff;
  letter-spacing: 0.2px;

}


button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(90deg, #EC37D0, #D92B2B, #FFAA0D, #EC37D0);
  background-size: 400%;
  border-radius: 50px;
  opacity: 0;
  transition: .5s;
}
button:hover {
  animation: animate 10s linear infinite;
}
button:hover::before {
  filter: blur(25px);
  opacity: .8;
  animation: animate 10s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}




.comment-block >.body{
    background: #ffffff;
    border-radius: 15px;
    border-width: 4px;
    border-color: #000000;

    
    max-height: 100px;
    overflow-y: scroll;
    border: solid 1.5px #d5d5d5;
    border-radius: 15px;
   
   
    white-space: normal;
    word-break: break-word;
    font-size:12px;
    font-weight: 600;   
     margin: 0;
    width: 150px;
    height: 70px;
    padding: 2px 2px 4px 2px;
}
.comment-block::before {
        content: '';
    position: absolute;
    border-top: solid 12px #d5d5d5;
    width: 0;
    height: 0;
    border-right: solid 12px transparent;
    border-left: solid 12px transparent;
    transform: translate(65px, 78px);
    border-bottom: solid 10px transparent;
}

p {
    text-align: center;
}

.comment-block > .body {

    background: #ffffff;
    border-radius: 15px;
    border-width: 4px;
    border-color: #000000;
}
.comment-block .replytextbox{

  margin-top: 24px;

}

