*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
html{
		border-radius: 7px;
}

body{
	width:250px;
	height: 80px;
	color:#1d1f1d;
/*background:#98FB98;*/
background: #fff;
}
.wrapper p{
	font-family: Montserrat;
	margin: auto auto;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;

}
.icon-header{
	height: 30%;
	display: grid;
	place-items:center;
}
hr{
	width:100%;
}
img{
	max-width: 35px;
	max-height: 35px;
}
.block{
	display: grid;
	place-items:center;
}
.block p{
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 500;
	margin: 2%;
}
label{
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom:2% ;
}
input{
	height: 25px;
	width: 75%;
}
.switch input{
	opacity: 0;
	width: 0;
	height: 0;
}
.slider{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ccc;
	border-radius: 20px;
	-webkit-transition:.4s;
	transition: .4s;
}
.slider:before{
	content: '';
	position: absolute;
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background: white;
	border-radius: 20px;
	-webkit-transition:.4s;
	transition: .4s;	
}
input:checked + .slider{
	background: #2196F3;
}
input:focus + .slider{
	box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before{
	transform: translateX(26px);
}

